
html, body{
   height: 100%;
   background-image: url(/background.jpeg);
   color: white;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 510px;
}
.left{
    
    padding-left: 20px;
    margin-bottom: 0;
    border-radius: 2em;
}
.title{
    width: 100%;
}
form {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    padding: 0px 20px 20px 20px;
    width: 400px;
}

.input{
    display: flex;
    flex-flow: column wrap;
    width: 40%;
}

input{
    border-radius: 2em;
    border: 1px solid rgba(251, 40, 40, 0.5);
    background-color: rgba(176, 62, 62, 0.3);
    margin-top: 5px;
}



